<style>
.add{
margin-left:90%;
color:white;
}
    .btnn{
    position:relative;
    padding: 5px 10px;
    background-color: #30649C;
    text-decoration: none;
    color:white;
    border-radius: 6px;



}
</style>

{% extends 'lecturer-layout.html' %}
{% load static %}
{% block title %}
<title>Lectures</title>
{% endblock%}
{% block main_content %}
<section class="get_store mt-5"  >
    <div class="container mt-5">
    <div class="row ">
        <div class="col-lg-12 mt-5">
            <div class="store  card py-2 px-2">
                <h1 class="text-left">Lectures</h1>
                      {% include 'accounts/messages.html' %}
                <div class="add">
                    <a href="/lecturer/lecture_form/" >
                        <button class="btnn">
                              <i class="fa fa-plus" aria-hidden="true"></i> Add New

                        </button>
                      </a>


                </div>


                <div class="table-responsive">
                    <table class="table table-striped table-bordered mt-3">
                    <tr class="store1">
                        <th>Lecture Title</th>
                        <th>Course</th>
                        <th>Action</th>

                    </tr>
                    {% for i in lecture %}
                    <tr class="store2" >


                        <td> {{ i.lecture_Name }}</td>
                        <td>{{i.course}}</td>
                        <td><a href="/lecturer/delete_lecture/{{i.id}}"
                               class="btn btn-danger btn-sm m-2"
                               onclick="return confirm('Are you sure want to delete this {{i.lecture_Name}}?')">

                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>

                        <a href="/lecturer/lecture_update_form/{{i.id}}"
                               class="btn btn-success btn-sm m-2"

                               >

                               <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                        </td>



<!--                        <td class="text-uppercase" >{{file.complete}} </td>-->
<!--                        <td class="text-uppercase">{{file.status}}</td>-->
                    </tr>
                    {% endfor %}
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}