<section class="footer">
  <div class="row1">
      <div class="col1 ">
          <h2>LOGO</h2><br>
          <p>We're a team of experienced designers and developers. We can 
              combine beautiful, modern design with clean, functional and high-performance code 
              to produce stunning website
          </p>

      </div>
      
      
      <div class="col1">

          <h5>Smartprep <div class="underline"><span></span></div></h5>
          <div class="paragraph">
          <p>Sunakothi,Nepal</p>
          <p>+977 9803242554</p>
          <p>+977 9818696705</p>

          </div>
          
          <p class="email-id">smartprep13@gmail.com</p>
          
      </div>

      <div class="col1">
          <h5>Links <div class="underline"><span></span></div></h5>
          
              <li><a href="">Home</a></li>
              <li><a href="">About Us</a></li>
              <li><a href="">Contact Us</a></li>
              <li><a href="">Terms and Policy</a></li>
          



      </div>
     
      <div class="col1">
          <h5>Get Started<div class="underline"><span></span></div></h5>
          <form>
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <input type="email" placeholder="Enter your email id" required>
              <button type="submit"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>

          </form>
          <div class="social-icons">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <i class="fa fa-instagram" aria-hidden="true"></i>
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <i class="fa fa-whatsapp" aria-hidden="true"></i>

          </div>


      </div>
      


  </div>
  <hr>
  <p class="Copyright">Copyright © 2021 SMARTPREP |All Rights Reserved</p>

</section>