<style>
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}
/* ---------------css for header button------------------------*/


.button{

  width: 105px;
  height: 43px;
  background-color: #30649C;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;

}

.button:hover{

    width: 105px;
    height: 43px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;

  }

.site{
  display:flex;
   justify-content: space-between;
   margin-left:1%;

}


.centerdiv{
  flex-basis: 48%;
  height:40px;
  background-color:#30649C;
  border:1px solid #fff;
  border-radius: 20px ;


}
.don{
  width:20px;
  margin: 7%;

}
.span{
  font-size: 12px;
  color: #fff;
}



main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;


  /* padding: 2rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 560px;
  background-color: #30649C;
  box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
  margin-bottom: 3%;
}

.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 45%;
  left: 47%;
  transform: translate(-50%, -50%);
}

.forms-wrap {
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.8s ease-in-out;
}

main form {
  max-width: 270px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}

form.sign-up-form {
  opacity: 0;
  pointer-events: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 27px;
  margin-right: 0.3rem;
}

.logo h4 {
  font-size: 1.1rem;
  margin-top: -9px;
  letter-spacing: -0.5px;
  color: #fff;
}

.heading h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: #fff;
}

.heading h6 {
  color: #fff;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline;
}
.heading h5 {
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  display: inline;
  margin-left: 25%;
}

.heading1 h5 {
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  display: inline;
  margin-left: 60%;
}

.toggle {
  color: #fff;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  transition: 0.3s;
  text-decoration: underline;
}

.toggle:hover {
  color: black;
}

.input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}

.input-field {
  position: absolute;
  width: 120%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
  padding: 0;
  font-size: 0.95rem;
  color: #fff;
  transition: 0.4s;
}
.forget{
  color: #30649C;
  margin-left:153px;
  text-decoration: none;
  font-size: 14px;
}
label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.95rem;
  color: #fff;
  pointer-events: none;
  transition: 0.4s;
}

.input-field.active {
  border-bottom-color: #fff;
}

.input-field.active + label {
  font-size: 0.75rem;
  top: -2px;
}

.sign-btn {
  display: inline-block;
  width: 120%;
  height: 43px;
  background-color: #fff;
  color: #30649C;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 20px;
  margin-bottom: 2rem;
  transition: 0.3s;
  font-weight: 600;
}

.sign-btn:hover {
  background-color: #151111;
  color:#fff;
}

.text {
  color: #fff;
  font-size: 0.7rem;
}

.text a {
  color: #fff;
  text-decoration: none;
  margin-left: 50%;
  font-size: 15px;

}

.text a:hover {
  color: #151111;
}

main.sign-up-mode form.sign-in-form {
  opacity: 0;
  pointer-events: none;
}

main.sign-up-mode form.sign-up-form {
  opacity: 1;
  pointer-events: all;
}

main.sign-up-mode .forms-wrap {
  left: 55%;
}

main.sign-up-mode .carousel1 {
  left: 0%;
}

.carousel1{
  position: absolute;
  height: 110%;
  width: 55%;
  left: 51%;
  top: 0;
  background-color: white;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  transition: 0.8s ease-in-out;
}

.images-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.image {
  width: 90%;
  grid-column: 1/2;
  grid-row: 1/2;
  opacity: 0;
  transition: opacity 0.3s, transform 0.5s;
}

.img-1 {
  transform: translate(0, -50px);
}

.img-2 {
  transform: scale(0.4, 0.5);
  margin-left: 5%;
  margin-top: 10%;
}

.img-3 {
  transform: scale(0.3) rotate(-20deg);
  margin-left: 5%;
  margin-top: 10%;
}

.image.show {
  opacity: 1;
  transform: none;
}

.text-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-wrap {
  max-height: 2.2rem;
  overflow: hidden;
  margin-bottom: 2.5rem;
}

.text-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(0);
  transition: 0.5s;
}

.text-group h2 {
  line-height: 1.6rem;
  font-weight: 600;
  font-size: 1.5rem;
  color:#30649C;
}

.bullets {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bullets span {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #aaa;
  margin: 0 0.25rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.bullets span.active {
  width: 1.1rem;
  background-color: #151111;
  border-radius: 1rem;
}

@media (max-width: 850px) {
  .box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }

  .inner-box {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }

  .forms-wrap {
    position: revert;
    width: 100%;
    height: auto;
  }

  form {
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .heading {
    margin: 2rem 0;
  }

  form.sign-up-form {
    transform: translateX(100%);
  }

  main.sign-up-mode form.sign-in-form {
    transform: translateX(-100%);
  }

  main.sign-up-mode form.sign-up-form {
    transform: translateX(0%);
  }

  .carousel1{
    position: revert;
    height: auto;
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
  }

  .images-wrapper {
    display: none;
  }

  .text-slider {
    width: 100%;
  }
}

@media (max-width: 530px) {
  main {
    padding: 1rem;
  }

  .box {
    border-radius: 2rem;
  }

  .inner-box {
    padding: 1rem;
  }

  .carousel1{
    padding: 1.5rem 1rem;
    border-radius: 1.6rem;
  }

  .text-wrap {
    margin-bottom: 1rem;
  }

  .text-group h2 {
    font-size: 1.2rem;
  }

  main form {
    padding: 1rem 2rem 1.5rem;
    max-width: 350px;
   margin-left: 5%;
  }

}




/* css for footer*/

/* -----css for footer-------- */
*{
  margin:0;
  padding:0;
  font-family: 'poppins',sans-serif;
  box-sizing: border-box;

  }
  body{
  background: #eef8ff;


  }
  footer{
      width:100%;

      margin-top: 5%;
      bottom:0;
      background:#30649C;
      color: #fff;
      padding:100px 0 30px;

      font-size:13px ;
      line-height: 20px;


  }
  .row1{
      width:85%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;

  }
  .col1{
      flex-basis: 25%;
      padding:10px;
  }
  .col1:nth-child(2),.col1:nth-child(3){
      flex-basis: 15%;
  }

  .col1 h5{
      width:fit-content;
      margin-bottom: 40px;
      position: relative;
      font-size: 16px;

  }
  .email-id{
      width: fit-content;
      border-bottom: 1px solid #ccc;
      margin: 20px 0;

  }
  footer li{
      list-style: none;
      margin-bottom: 12px;
      margin-right: 5%;

  }
  footer li a{
      text-decoration: none;
      color:#fff;

  }

  footer li a:hover{
    text-decoration: none;
    color:black;

}
  footer form{
      padding-bottom: 15px;
      display:flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #fff;
      margin-bottom: 50px;
  }
  footer form .fa{
      font-size: 18px;
      margin-right: 10px;
  }
  footer form input{
      width:100%;
      background: transparent;
      color:white;
      border:0;
      outline:none;

  }
  footer form button{
      background: transparent;
      border: 0;
      outline: none;
      cursor: pointer;
  }
  footer form button .fa{
      font-size: 16px;
      color:white;

  }
  .social-icons .fa{
      width:40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      color:#000;
      background: #fff;
      margin-right: 15px;
      cursor: pointer;



  }
  footer hr{
      width: 90%;
      border: 0;
      border-bottom: 1px solid #fff;
      margin: 20px auto;

  }
  .Copyright{
      text-align: center;
  }
  .underline{
      width:100%;
      height:5px;
      background: white;
      border-radius:3px;
      position: absolute;
      top: 25px;
      left:0;
      overflow: hidden;
  }
  .underline span{
      width:15px;
      height:100%;
      background: black;
      border-radius: 3px;
      position: absolute;
      top:0;
      left: 10px;
      animation: moving 2s linear infinite;
  }

  @keyframes moving{
      0%{
          left:-20px;
      }
      100%{
          left: 100%;
      }
  }

  /* -----------responsive for footer------------- */
  @media (max-width:700px){
      footer{
          bottom:unset;
      }
      .col1{
          flex-basis: 100%;
      }
      .col1:nth-child(2),.col1:nth-child(3){
          flex-basis: 100%;
      }
      .form-control{


   margin: 0.7rem 0rem;

      }
  }


.user_card {
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: #74cfbf;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}

		.form_container {
			margin-top: 20px;
		}

		#form-title{
			color: #fff;
		}
		.login_btn {
			width: 100%;
			background: #33ccff !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #f7ba5b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}



</style>

{% extends 'layout.html' %}
{% load bootstrap %}
{% load static %}

{% block title %}
<title> SignIn Form</title>
{% endblock title %}

{% block main_content %}



     <main>
      <div class="box">
        <div class="inner-box">
          <div class="forms-wrap">


            <form method="POST" action="">
                <div class="logo">
                <!-- <img src="./img/logo.png" alt="easyclass" /> -->
                <h4>LOGO</h4>
              </div>

              <div class="heading">
                <h2>Create Account</h2>

              </div>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="username">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
							</div>
							<input type="email" name="email">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="text" name="password1">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="text" name="password2">
						</div>

				   		<div class="d-flex justify-content-center mt-3 login_container">
				 			<input class="btn login_btn" type="submit" value="Register Account">
				   		</div>
					</form>
          </div>

          <div class="carousel1">
            <div class="images-wrapper">
              <img src="./img/login.jpg" class="image img-1 show" alt="" />
              <img src="./img/login1.jpg" class="image img-2" alt="" />
              <img src="./img/login2.jpg" class="image img-3" alt="" />
            </div>

            <div class="text-slider">
              <div class="text-wrap">
                <div class="text-group">
                  <h2>Create your own courses</h2>
                  <h2>Customize as you like</h2>
                  <h2>Invite students to your class</h2>
                </div>
              </div>

              <div class="bullets">
                <span class="active" data-value="1"></span>
                <span data-value="2"></span>
                <span data-value="3"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

	<script>
						/* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
		//We start indexing at one because CSRF_token is considered and input field
		 */

		//Query All input fields
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Username..';
		form_fields[2].placeholder='Email..';
		form_fields[3].placeholder='Enter password...';
		form_fields[4].placeholder='Re-enter Password...';


		for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}
	</script>

{% endblock main_content %}


