{% extends 'layout.html' %}
{% load static %}
{% load bootstrap%}

{% block title %}
<title>Course</title>
{% endblock title %}

{% block main_content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

*{
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



.view_item img{
	width: 100px;
	height:100px
}

.wrapper{
	width: 1000px;
	margin: 20px auto;
}

.links{
	margin-bottom: 25px;
	color: #b3b9b9;
	background: #fff;
	padding: 15px;
	border-radius: 3px;
}

.links ul{
	display: flex;
	justify-content: center;
}

.links ul li{
	margin: 0 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 20px;
	cursor: pointer;
}

.links ul li:hover,
.links ul li.active{
	color: #30649C;
}

.view_main{
	background: #fff;
	border-radius: 3px;
	padding: 15px;
}

.list-view .view_item {
	background: #fff;
	border: 1px solid #e2efe1;
	margin: 10px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
}

.list-view .view_item:last-child{
	margin-bottom: 0;
}

.list-view .view_item .vi_left{
	margin-right: 25px;
}

.view_item .title{
	font-weight: 600;
}

.view_item .content{
	margin: 5px 0;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
}

.view_item .btn{
	background: #30649C;
	padding: 5px 10px
	border-radius: 3px;
	color: #fff;
	text-align: center;

	font-weight: 700;
	cursor: pointer;

	font-size:11px
}

.view_item .btn:hover{
	background: #000;
}

.grid-view{
	width: 100%;

}

.grid-view .view_item {
    height:410px;
	display: inline-block;
    border: 1px solid #e2efe1;
    width: 300px;
    padding: 10px;
    text-align: center;
    margin: 10px;

}

.grid-view .view_item .vi_left{
	margin-bottom: 10px;
}

.grid-view .view_item .btn{
	margin: 0 auto;
}



.content-content{height:140px;
overflow:hidden;
padding:0 25px}

.content{overflow:hidden;
display:-webkit-box;
-webkit-box-orient:vertical;
-webkit-line-clamp:5
}




.grid-view .view_item .vi_left img {width:240px;
height:170px;
}


.bottom-CE{
display:flex;
 justify-content:space-between;
}

</style>

<!-- ----------our Course-------- -->

<div class="types mt-5 p-5">
    <h1 class="heading1">
        <span>O</span>
        <span>U</span>
        <span>R</span>
        <span class="space"></span>
        <span>C</span>
        <span>O</span>
        <span>U</span>
        <span>R</span>
        <span>S</span>
        <span>E</span>
        <span>S</span>
    </h1>
    <div class="wrapper">
        <div class="links">
            <ul>
                <li data-view="grid-view" class="li-grid">
                    <i class="fas fa-th-large"></i>
                    Categories
                </li>
                 <li data-view="list-view" class="li-list active">
                    <i class="fas fa-th-list"></i>
                    Courses
                </li>
            </ul>
        </div>
        <div class="view_main">

            <div class="view_wrap grid-view" style="display: none;">

                {% for i in category_material %}
                <div class="view_item">
                    <div class="vi_left">
                        <img src="/{{i.category_Image}}" alt="Relevant Image">
                    </div>
                    <div class="vi_right" style="height:200px">
                        <p class="title">{{i.category_Name}}</p>
                        <div class="content-content">
                        <p class="content"   style="  text-align: justify; color:black">{{i.category_Description}}</p>
                        </div>

                        <div class="bottom-CE">
                            <span class="btn"> Explore > </span>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

             <div class="view_wrap list-view" style="display: block;">

                {% for i in category_material %}
                 {%for j in i.courses_set.all %}
                <div class="view_item">
                    <div class="vi_left">
                        <img src="/{{j.course_Image}}" alt="Relevant Image">
                    </div>
                    <div class="vi_right">
                        <p class="title">{{j.course_Name}}</p>
                        <p class="content" style="overflow:hidden;
                        display:-webkit-box;
                        -webkit-box-orient:vertical;
                        -webkit-line-clamp:2">
                            {{j.course_Description}}</p>
                        <div class="btn">Explore ></div>
                    </div>
                </div>
                 {% endfor %}
                  {% endfor %}

            </div>
        </div>
    </div>
</div>
    <script>
        var li_links = document.querySelectorAll(".links ul li");
        var view_wraps = document.querySelectorAll(".view_wrap");
        var list_view = document.querySelector(".list-view");
        var grid_view = document.querySelector(".grid-view");

        li_links.forEach(function(link){
            link.addEventListener("click", function(){
                li_links.forEach(function(link){
                    link.classList.remove("active");
                })

                link.classList.add("active");

                var li_view = link.getAttribute("data-view");

                view_wraps.forEach(function(view){
                    view.style.display = "none";
                })

                if(li_view == "list-view"){
                    list_view.style.display = "block";
                }
                else{
                    grid_view.style.display = "block";
                }
            })
        })

    </script>
    {% endblock main_content %}