
<style>
.maincard{
    display: flex;
    justify-content:center;

  }
.contentwrapper{
width: 1300px;
height: 100vh;
margin: 30px auto;
padding: 20px;
border-radius: 5px;
}
.contentwrapper .radio_tabs{
height: 60px;
background: #30649C;
margin-bottom: 10px;
border-radius: 5px;
font-size: 20px;
padding: 18px;
display: flex;
box-shadow: 0 0 2px rgba(0,0,0,0.1);

}

.contentwrapper .radio_tabs label{
color:white;
margin-right: 15px;
display: block;
position: relative;
cursor: pointer;
padding-left: 28px;
}

.contentwrapper .radio_tabs .radio_mark:before{
content: "";
position: absolute;
top: 2px;
left: 0;
background: url("radio_icon.png") no-repeat 0 0;
width: 22px;
height: 22px;
}

.contentwrapper .radio_tabs label .input{
position: absolute;
top: 0;
right: 0;
opacity: 0;
}

.contentwrapper .radio_tabs label .input:checked ~ .radio_mark{
font-weight:bold;
color:white;
border-bottom: 3px solid white;
}

.contentwrapper .radio_tabs label .input:checked ~ .radio_mark:before{
background-position: 0 -23px;
width: 22px;
height: 22px;
}

.contentwrapper .content p{
font-size: 15px;
line-height: 22px;
margin-bottom: 15px;
}

</style>
{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title> My Learning</title>
{% endblock title %}
{% block main_content %}

<div style="margin:10%">

    <a href="/materials/mylearning/">
        <button class="btn btn-secondary">Back</button>
    </a>

    {% for file in lecture %}
              <p >
						{{file.lectureContent|safe}}
					</p>
               {% endfor %}
</div>








    <script>
      $(document).ready(function(){
        /* by default hide all radio_content div elements except first element */
        $(".content .radio_content").hide();
        $(".content .radio_content:first-child").show();

        /* when any radio element is clicked, Get the attribute value of that clicked radio element and show the radio_content div element which matches the attribute value and hide the remaining tab content div elements */
        $(".radio_wrap").click(function(){
          var current_raido = $(this).attr("data-radio");
          $(".content .radio_content").hide();
          $("."+current_raido).show();
        })
      });
    </script>

  </div>


</div>




{% endblock main_content %}