<!--<style>-->
<!--    .container .myForm .control-label{display:none}-->


<!--</style>-->
<!--{% extends 'admin-layout.html' %}-->
<!--{% block title %}-->
<!--{% load bootstrap %}-->
<!--<title>All Courses</title>-->
<!--{% endblock%}-->

<!--{% block main_content %}-->

<!--<div class="container-fluid">-->
<!--    <div class="row " style="padding:10px 0 250px 0">-->

<!--        <div class="row" style="height:55px; background-color:#F3F5F6">{% include 'messages.html' %} </div>-->
<!--                <h3 id="head3" class="text-center">Courses</h3>-->
<!--         <div class="container d-flex justify-content-between " id="topp-content" >-->
<!--                <div class=" leftt" >-->
<!--                    <div class="pb-5">-->
<!--                        <div><a class="btn btn-success btn-sm ms-auto"-->
<!--                                     href="/admins/course_form" style="height:30px">Add Courses</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--        </div>-->

<!--        <div class="container d-flex justify-content-between " >-->

<!--        </div>-->
<!--                <div style="overflow-x:auto;">-->
<!--                <table class=" table table-hover bg-white"  >-->
<!--                    <tr class="col text-center bg-muted" >-->
<!--                        <th class="text-center py-3" >ID</th>-->
<!--                        <th class="col py-3">Course</th>-->

<!--                        <th colspan="2" class="text-center col-2 py-3">Actions</th>-->
<!--                    </tr>-->
<!--                    {% for i in course %}-->
<!--                    <tr class="text-center">-->
<!--                        <td >{{i.id}}</td>-->
<!--                        <td> {{ i.course_Name }}</td>-->
<!--                        <td class="text-center"> </td>-->
<!--                            </td>-->



<!--                    </tr>-->
<!--                    {% endfor %}-->

<!--                </table>-->
<!--                </div>-->
<!--            </div>-->
<!--</div>-->






<!--{% endblock %}-->